.paragraph {
            color:white;
            font-family: EB Garamond;
            background-color: black;
            border:5px dotted black;
            float:left;
            font-size: 20px; 
        }


.heading {
    font-family: 'EB Garamond', serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}